<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Sprite 组件参考</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/github-markdown.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/pilcrow.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/hljs-github.min.css"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
    <link rel="shortcut icon" type="image/ico" href="../assets/favicon.ico">
  </head>
  <body>
  <div class="full-wrap">
    <div class="sidebar markdown-body">
      <div class="inner">
        <div class="logo">
          <a href="../index.html"><img src="../assets/img/logo.png"></a>
        </div>
        <ul class="nav nav-list">
          <li class="sidebar-header-1 "><h3><a href="../getting-started/index.html">Cocos Creator 入门</a></h3></li>
          <li class=" sidebar-header-3"><a href="../getting-started/introduction.html">关于 Cocos Creator</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/install.html">安装和启动</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/dashboard.html">使用 Dashboard</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/hello-world.html">Hello World!</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/quick-start.html">快速上手: 制作第一个游戏</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/cocos2d-x-guide.html">Cocos2d-x 用户上手指南</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/unity-guide.html">Unity 用户上手指南</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/project-structure.html">项目结构</a></li>
          <li class=" sidebar-header-3"><a href="../getting-started/support.html">获取帮助和支持</a></li>
          <li class="sidebar-header-1 "><h3><a href="../basics/index.html">编辑器基础</a></h3></li>
          <li class=" sidebar-header-3"><a href="../basics/editor-overview.html">编辑器界面介绍</a></li>
          <li class=" sidebar-header-4"><a href="../basics/editor-panels/assets.html">资源管理器</a></li>
          <li class=" sidebar-header-4"><a href="../basics/editor-panels/scene.html">场景编辑器</a></li>
          <li class=" sidebar-header-4"><a href="../basics/editor-panels/hierarchy.html">层级管理器</a></li>
          <li class=" sidebar-header-4"><a href="../basics/editor-panels/inspector.html">属性检查器</a></li>
          <li class=" sidebar-header-4"><a href="../basics/editor-panels/console.html">控制台</a></li>
          <li class=" sidebar-header-3"><a href="../basics/toolbar.html">工具栏</a></li>
          <li class=" sidebar-header-3"><a href="../basics/layout.html">编辑器布局</a></li>
          <li class="sidebar-header-1 "><h3><a href="../asset-workflow/index.html">资源工作流程</a></h3></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/scene-managing.html">创建和管理场景</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/sprite.html">图像资源（Texture）</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/atlas.html">图集资源（Atlas）</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/font.html">字体资源</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/particle.html">粒子资源</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/audio-asset.html">声音资源（AudioClip）</a></li>
          <li class=" sidebar-header-3"><a href="../asset-workflow/prefab.html">预制资源（Prefab）</a></li>
          <li class="sidebar-header-1 "><h3><a href="../content-workflow/index.html">内容创作工作流程</a></h3></li>
          <li class=" sidebar-header-3"><a href="../content-workflow/node-component.html">节点和组件</a></li>
          <li class=" sidebar-header-3"><a href="../content-workflow/transform.html">坐标系和变换</a></li>
          <li class=" sidebar-header-3"><a href="../content-workflow/node-tree.html">管理节点层级和显示顺序</a></li>
          <li class=" sidebar-header-3"><a href="../content-workflow/scene-editing.html">使用场景编辑器搭建场景图像</a></li>
          <li class="sidebar-header-1 "><h3><a href="../ui/index.html">UI 系统</a></h3></li>
          <li class=" sidebar-header-3"><a href="../ui/sliced-sprite.html">使用 Sliced Sprite 制作 UI 图像</a></li>
          <li class=" sidebar-header-3"><a href="../ui/multi-resolution.html">多分辨率适配方案</a></li>
          <li class=" sidebar-header-3"><a href="../ui/widget-align.html">对齐策略</a></li>
          <li class=" sidebar-header-3"><a href="../ui/label-layout.html">文字排版</a></li>
          <li class=" sidebar-header-3"><a href="../ui/ui-components.html">常用 UI 控件</a></li>
          <li class=" sidebar-header-3"><a href="../ui/auto-layout.html">自动布局容器</a></li>
          <li class=" sidebar-header-3"><a href="../ui/list-with-data.html">制作动态生成内容的列表</a></li>
          <li class="sidebar-header-1 "><h3><a href="../animation/index.html">动画系统</a></h3></li>
          <li class=" sidebar-header-3"><a href="../animation/animation.html">关于 Animation</a></li>
          <li class=" sidebar-header-3"><a href="../animation/animation-clip.html">创建 Animation 组件和动画剪辑</a></li>
          <li class=" sidebar-header-3"><a href="../animation/animation-curve.html">编辑动画曲线</a></li>
          <li class=" sidebar-header-3"><a href="../animation/sprite-animation.html">编辑序列帧动画</a></li>
          <li class=" sidebar-header-3"><a href="../animation/time-curve.html">编辑时间曲线</a></li>
          <li class=" sidebar-header-3"><a href="../animation/animation-event.html">添加动画事件</a></li>
          <li class=" sidebar-header-3"><a href="../animation/scripting-animation.html">使用脚本控制动画</a></li>
          <li class="sidebar-header-1 "><h3><a href="index.html">组件参考</a></h3></li>
          <li class="active sidebar-header-3"><a href="sprite.html">Sprite 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="label.html">Label 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="animation.html">Animation 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="canvas.html">Canvas 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="widget.html">Widget 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="progress.html">ProgressBar 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="button.html">Button 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="mask.html">Mask 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="scrollview.html">ScrollView 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="scrollbar.html">ScrollBar 组件参考</a></li>
          <li class=" sidebar-header-3"><a href="layout.html">Layout 组件参考</a></li>
          <li class="sidebar-header-1 "><h3><a href="../scripting/index.html">脚本开发工作流程</a></h3></li>
          <li class=" sidebar-header-3"><a href="../scripting/use-component.html">创建和使用组件脚本</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/properties.html">声明属性</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/access-node-component.html">访问节点和其他组件</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/life-cycle-callbacks.html">生命周期回调</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/create-destroy.html">创建和销毁节点</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/events.html">发射和监听事件</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/internal-events.html">系统内置事件</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/actions.html">使用动作系统</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/action-list.html">动作列表</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/scheduler.html">使用计时器</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/execution-order.html">脚本执行顺序</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/pooling.html">使用对象池</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/load-assets.html">获取资源</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/modular-script.html">模块化脚本</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/web-debug-scripts.html">在浏览器中调试脚本</a></li>
          <li class=" sidebar-header-3"><a href="../scripting/javascript-primer.html">JavaScript 快速入门</a></li>
          <li class=" sidebar-header-4"><a href="../scripting/reference/attributes.html">属性参数参考</a></li>
          <li class="sidebar-header-1 "><h3><a href="../publish/index.html">跨平台发布游戏</a></h3></li>
          <li class=" sidebar-header-3"><a href="../publish/publish-web.html">发布到 Web 平台</a></li>
          <li class=" sidebar-header-3"><a href="../publish/cocos-framework.html">安装配置 Cocos Framework</a></li>
          <li class=" sidebar-header-3"><a href="../publish/publish-native.html">打包发布原生平台</a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <article class="markdown-body"><h1 id="sprite-">Sprite 组件参考</h1>
<p>Sprite（精灵）是 2D 游戏中最常见的显示图像的方式，在节点上添加 Sprite 组件，就可以在场景中显示项目资源中的图片。</p>
<p class="img-container"><img src="sprite/sprite_component.png" alt="add sprite"></p>
<p>点击<strong>属性检查器</strong>下面的<code>添加组件</code>按钮，然后从<code>添加渲染组件</code>中选择<code>Sprite</code>，即可添加 Sprite 组件到节点上。</p>
<h2 id="sprite--1">Sprite 属性</h2>
<table>
<thead>
<tr>
<th>属性</th>
<th>功能说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>Atlas</td>
<td>Sprite 显示图片资源所属的 <a href="asset-workflow/atlas.html">Atlas 图集资源</a></td>
</tr>
<tr>
<td>Sprite Frame</td>
<td>渲染 Sprite 使用的 <a href="asset-workflow/sprite.html">SpriteFrame 图片资源</a></td>
</tr>
<tr>
<td>Type</td>
<td>渲染模式，目前包括普通（Simple）和九宫格（Sliced）渲染两种模式</td>
</tr>
<tr>
<td>Use Original Size</td>
<td>是否使用图片资源的原始尺寸作为 Sprite 所在节点的 size</td>
</tr>
</tbody>
</table>
<h2 id="-">详细说明</h2>
<p>添加 Sprite 组件之后，通过从<strong>资源管理器</strong>中拖拽 Texture 或 SpriteFrame 类型的资源到<code>Sprite Frame</code>属性引用中，就可以通过 Sprite 组件显示资源图像。</p>
<p>如果拖拽的 SpriteFrame 资源是包含在一个 Atlas 图集资源中的，那么 Sprite 的<code>Atlas</code>属性也会被一起设置。之后可以点击<code>Atlas</code>属性旁边的<strong>选择</strong>按钮来从该 Atlas 中挑选另外一个 SpriteFrame 指定给 Sprite。</p>
<h3 id="--1">渲染模式</h3>
<p>目前 Sprite 组件支持两种渲染模式：</p>
<ul class="list">
<li>普通模式（Simple）：按照原始图片资源样子渲染 Sprite，通常会配合<code>Use Original Size</code>一起使用来保证场景中显示的图像和美术人员生产的图片完全一致。</li>
<li>九宫格模式（Sliced）：图像将被分割成九宫格，并按照一定规则进行缩放以适应可随意设置的尺寸(<code>size</code>)。通常用于 UI 元素，或将可以无限放大而不影响图像质量的图片制作成九宫格图来节省游戏资源空间。详细信息请阅读<a href="../asset-workflow/sprite.html#-sprite-">使用 Sprite 编辑器制作九宫格图像</a>一节。</li>
</ul>
<hr>
<p>继续前往 <a href="./label.html">Label 组件参考</a>。</p>
      </article>
    </div>
  </div>
  <script src="../assets/js/anchor.min.js"></script>
  <script>
    anchors.add('article h2, article h3, article h4');
  </script>
  </body>
</html>
